# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Original/raw dataset files
data/online+retail.zip
data/Online Retail.xlsx
data/online+retail/
data/cleaned_online_retail.csv


# Streamlit
.streamlit/secrets.toml

# Virtual environment
venv/
.venv/

# OS files
.DS_Store
Thumbs.db